
.fl{float: left;}
.fr{float: right;}
.ni-wrap{
    width: 150px;
    height: 2em;
    text-align: center;
    font-family:'微软雅黑';
    font-size: 14px;
}
.ni-input-num{
    margin: 0;
    padding: 0;
    width: 55%;
    height: 100%;
    *height: 2.1em;
    border: solid 1px #c0c0c0;
    border-left: none;
    border-right: none;
    background-color: #fff;
    line-height: 1.8;
    text-align: center;
    box-sizing: border-box;
}
.ni-num-ctrl{
    width: 1em;
    height: 100%;
    background-color: #f3f3f3;
    border: solid 1px #c0c0c0;
    line-height: .8;
    font-weight: bold;
    font-size: 1.8em;
    color: #9d9d9d;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ni-num-ctrl.m{
    *line-height: .7;
}
.ni-num-ctrl.p{
    *line-height: 1;
}